.row{
    color: #fff;
    padding-left:10px
}

.row__title{
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 600;
}

.row__img{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
}

.row__img::-webkit-scrollbar {
    display: none;
  }

.row__poster{
    max-height:100px;
    object-fit: contain;
    transition: transform 450ms;
    margin-right: 10px;
}

.row__poster:hover{
    transform:scale(1.08);
    opacity: 0.9;
} 

.row__posterLarge{
    max-height: 250px;
    object-fit: contain;
}

.row__posterLarge:hover{
    transform:scale(1.1)
} 